<!-- --------------- Event time Form --------------------- -->
<div class="event-form-wrapper">
  <div class="event-form-header">
    <button class="btn btn--event btn--event-1 event-btn-active">Evento</button>
    <button class="btn btn--event btn--event-2">Evento</button>
  </div>
  <div class="event-form-body event-form-body-1 event-active">
    <form class="event-form">
      <input type="date" class="event-input" />
    </form>
  </div>

  <div class="event-form-body event-form-body-2">
    <form class="event-form">
      <input type="date" class="event-input" />
    </form>
  </div>
</div>
