
    <!-- --------------------------------------
------------------- Select-Form--Styles-- ------------
---------------------------------------------  -->

<div class="select-form-container">
    <div class="select-form-header">
      <button
        type="button"
        class="btn btn--form btn-form-1 btn-active"
        checked
      >
        red asistencial
      </button>
      <button type="button" class="btn btn--form btn-form-2">
        Punto de Atención
      </button>
    </div>
    <div class="select-form-body">
      <div class="select-form select-form--1 active">
        <div class="select-form-title">
          <h4>Consulta Rapidamente tu red asistencial</h4>
        </div>
        <form class="select-dropdown-form">
          <div class="select-input-wrapper">
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Departamento:</label
              >
              <select
                class="input-select"
                name="Departamento"
                id="Departamento"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento">Ciudad:</label>
              <select class="input-select" name="Ciudad" id="Ciudad">
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Selecciones Red:</label
              >
              <select
                class="input-select"
                name="Selecciones Red"
                id="Selecciones Red"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Selecciones un Punto:</label
              >
              <select
                class="input-select"
                name="Selecciones un Punto"
                id="Selecciones un Punto"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <input type="submit" value="BUSCAR" class="btn btn--submit" />
        </form>
      </div>
      <div class="select-form select-form--2">
        <div class="select-form-title">
          <h4>    Riesgos Laborales   
            Vida Individual    
            Vida Grupo
           </h4>
        </div>
        <form class="select-dropdown-form">
          <div class="select-input-wrapper">
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Department:</label>
              <select
                class="input-select"
                name="Departamento"
                id="Departamento"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento">Town:</label>
              <select class="input-select" name="Ciudad" id="Ciudad">
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Network Selections:</label>
              <select
                class="input-select"
                name="Selecciones Red"
                id="Selecciones Red"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="select-dropdown-group">
              <label class="dropdown-title" for="Departamento"
                >Select a Point:</label
              >
              <select
                class="input-select"
                name="Selecciones un Punto"
                id="Selecciones un Punto"
              >
                <option value=""></option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn--submit" />
        </form>
      </div>
      </div>
    </div>
  </div>