<div class="select-form-container">
  <div class="select-form-header">
    <button type="button" class="btn btn--form btn-form-1 btn-active" checked>
      red asistencial
    </button>
    <button type="button" class="btn btn--form btn-form-2">
      Punto de Atención
    </button>
  </div>
  <div class="select-form-body">
    <div class="select-form select-form--1 active">
      <p>
        Lorem-1, ipsum dolor sit amet consectetur adipisicing elit. Earum
        mollitia iste facilis placeat numquam eum odio aliquid eaque incidunt
        amet tempora, cumque iusto accusamus! Ipsam ullam praesentium dolor
        veritatis exercitationem.
      </p>
    </div>
    <div class="select-form select-form--2">
      <p>
        Lorem-2, ipsum dolor sit amet consectetur adipisicing elit. Earum
        mollitia iste facilis placeat numquam eum odio aliquid eaque incidunt
        amet tempora, cumque iusto accusamus! Ipsam ullam praesentium dolor
        veritatis exercitationem.
      </p>
    </div>
  </div>
</div>
